- if user_signed_in?
  %h6.dropdown-header= t('.dataset_header')
  = link_to t('.single_dataset'), new_dataset_path(q: "uid:\"#{document.uid}\"", def_type: 'lucene', fq: nil), class: 'dropdown-item ajax-modal', id: "single-#{document.uid.html_id}"
  = link_to t('.add_to_dataset'), '#', class: 'dropdown-item', data: { toggle: 'modal', target: "#add-#{document.uid.html_id}-modal" }

  .dropdown-divider

- if document.doi
  = link_to t('.journal'), "http://dx.doi.org/#{document.doi}", class: 'dropdown-item'
  .dropdown-divider

%h6.dropdown-header= t('.library')

- if user_signed_in?
  - current_user.libraries.each do |library|
    = link_to t('.yours') + ' ' + library.name, "#{library.url}#{RLetters::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
= link_to t('.worldcat'), "http://worldcatlibraries.org/registry/gateway?#{RLetters::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
= link_to t('.uk_openurl'), "http://openurl.ac.uk/?#{RLetters::Documents::AsOpenUrl.new(document).params}", class: 'dropdown-item'
.dropdown-divider

%h6.dropdown-header= t('.online')

- if document.title
  = link_to t('.google'), "http://scholar.google.com/scholar?q=#{CGI.escape(document.title)}", class: 'dropdown-item'
= link_to t('.citeulike'), documents_citeulike_path(document.uid), class: 'dropdown-item'

.dropdown-divider
%h6.dropdown-header= t('.details_header')

- if document.doi
  = link_to "DOI: #{document.doi}", "http://dx.doi.org/#{document.doi}", class: 'dropdown-item small'
- if document.license_url
  = link_to t('.license', license: document.license || t('.no_license')), document.license_url, class: 'dropdown-item small'
- else
  %span.dropdown-item-text= t('.license', license: document.license || t('.no_license'))
- if document.data_source
  %span.dropdown-item-text= t('.data_source', source: document.data_source)

.dropdown-divider
%span.dropdown-item-text.small ID: #{document.id}
