- data = JSON.parse(@task.json)
- content_for :javascripts do
  = javascript_include_tag 'https://www.gstatic.com/charts/loader.js', nonce: true

.row
  .col-12.col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}
    %h4.text-muted= t('term_dates_job.subheader', term: data['term'])

  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_path(task: @task, content_type: 'text/csv'), class: 'btn btn-secondary'

.row.mt-3
  .col-12
    %hr

    = javascript_tag("window.json_data = '#{j @task.json}';", nonce: true)
    .term_dates_graph

    %hr

    .term_dates_table
