- data = JSON.parse(@task.json)
- content_for :javascripts do
  = javascript_include_tag 'https://www.gstatic.com/charts/loader.js', nonce: true

.row
  .col-12.col-md-8
    %h1= t('craig_zeta_job.header', name_1: data['name_1'], name_2: data['name_2'])
    %h4.text-muted= t('craig_zeta_job.subheader')
  .col-12.col-md-4.job-header-button= link_to t('common.download_csv'), task_download_path(task: @task, content_type: 'text/csv'), class: 'btn btn-secondary'

.row
  .col-12
    %hr

    %h5= t('craig_zeta_job.graph_header')
    %p= t('craig_zeta_job.graph_explanation')

    = javascript_tag("window.json_data = '#{j @task.json}';", nonce: true)
    #cz-graph

    %hr

    %h5= t('craig_zeta_job.cloud_header', name: data['name_1'])

    .word-cloud{ data: { word_cloud: data['word_cloud_1_words'].to_json } }
      = render partial: 'jobs/word_cloud/controls'

    %hr

    %h5= t('craig_zeta_job.cloud_header', name: data['name_2'])

    .word-cloud{ data: { word_cloud: data['word_cloud_2_words'].map { |k, v| [k, -v] }.to_h.to_json } }
      = render partial: 'jobs/word_cloud/controls'

    %hr

    %h5= t('craig_zeta_job.zeta_score_header')
    %p= t('craig_zeta_job.zeta_score_explanation', name_1: data['name_1'], name_2: data['name_2'])

    #cz-table

= render partial: 'jobs/d3_svg/form'
