%head
  %meta{ charset: 'utf-8' }/
  %meta{ http_equiv: 'X-UA-Compatible', content: 'IE=edge' }/
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/

  %title= ENV['APP_NAME'] || 'RLetters'

  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application', nonce: true

  = render partial: 'layouts/favicons'

  -# Reference the unAPI server, if we need to
  - if params[:controller] == 'search'
    %link{ rel: 'unapi-server', type: 'application/xml', title: 'unAPI', href: unapi_url }/
